.site-footer {
  background-color: #e3f2fd;
  padding: 2px 0; }
div#content {
  padding-bottom: 30px;
}  
.jumbotron.header {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637dd, #3046C5, #60106b);
  color: white; }
.jumbotron {
   margin: 0;
} 

.row-content {
  padding: 10px 0;
  /*  min-height: 200px; */
} 
.row-content:not(:last-child) {
  border-bottom: 1px ridge blue;
}

nav {
  background-color: #e3f2fd;
}
div#content.homeHighlights .media-body {
 font-size: large; 
}